*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.fonts {
	font-family: 'Inter', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--mainFont: #ffffff;
	--bg: #0f1014;
	--circle: #402227;
	--blue: #0087df;
	--darkGrey: #585858;
	--orange: #ffbf2e;
}

body {
	background: radial-gradient(circle at left, var(--circle), var(--bg) 560px);
	background-repeat: no-repeat;
	color: var(--mainFont);
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

.wrapper {
	padding: 46px 150px 0;
	min-width: 1440px;
	margin: 0 auto;
}

.header {
	display: flex;
}

.header_description_text {
	max-width: 140px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 12px;
	color: #e4e5ea;
	margin-top: 6px;
}

.nav {
	display: flex;
	grid-column: span 8;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding-top: 15px;
	margin-left: 52px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #e4e5ea;
}
.title {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
	color: #e4e5ea;
	margin-top: 10px;
}

.main_title {
	max-width: 375px;
}

.main_title_highlight {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
	background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.main_title p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #e4e5ea;
	margin-top: 30px;
	max-width: 300px;
}

.main_description_feature_item_title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: right;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #e4e5ea;
}

.main_description_feature_item_title p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	color: #e4e5ea;
}

.main_description_highlight {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: right;
	background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.header_description {
	padding-top: 11px;
	font-size: 12px;
}

.header_contacts span {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: right;
	color: #e4e5ea;
}

.header_logo {
	width: 75px;
}

.header_icon {
	width: 16px;
	margin-inline: 6px;
}

ul.header_menu li {
	display: inline;
}
.header_contacts {
	display: flex;
}
.social {
	margin-left: 42px;
}
.header_contacts a:not(:first-child) {
	margin-left: 15px;
}

ul.header_menu li:not(:first-child) {
	margin-left: 30px;
}

a {
	color: var(--mainFont);
	text-decoration: none;
	position: relative;
	top: 0;
}

a:hover {
	animation: topLinkHover 0.2s linear forwards;
}

main {
	grid-column: span 8;
	display: flex;
	justify-content: space-between;
	margin: 80px 0;
}

.main_description {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 340px;
	margin-top: 26px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: right;
	letter-spacing: 0.8px;
}

.main_description_features {
	display: flex;
	flex-wrap: wrap;
	text-align: end;
	margin-top: 16px;
}

.main_description_feature_item {
	flex-basis: 170px;
	margin-top: 25px;
}

.main_description_feature_item h3 {
	margin-bottom: 8px;
}

.main_description_feature_item p {
	color: #d3d3d3;
}

.main_description_dash {
	display: none;
}

button {
	width: 262px;
	height: 60px;
	border-radius: 1px;
	border: none;
	background: var(--blue);
	color: var(--mainFont);
	margin-top: 56px;
	position: relative;
	top: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

button:hover {
	cursor: pointer;
}

footer {
	display: flex;
	justify-content: space-between;
}

.footer {
	display: flex;
	margin-top: 124px;
}

.footer_about_wrapper {
	display: flex;
}
.footer_icon {
	width: 16px;
	margin-inline: 4px;
}

.footer_title {
	color: var(--darkGrey);
	font-weight: bold;
	margin-bottom: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #656566;
}
.footer_menu {
	margin-left: 111px;
}

.footer_menu_second {
	margin-left: 52px;
}

.footer_menu_items {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #e4e5ea;
}
.footer_menu_items:not(:first-child) {
	margin-top: 24px;
}

.footer_title_hid {
	visibility: hidden;
	font-weight: bold;
	margin-bottom: -12px;
}

.footer_contacts {
	text-align: end;
}
ul {
	list-style: none;
}

.footer_extra {
	grid-column: span 8;
	margin-top: 72px;
	text-align: end;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #e4e5ea;
}

.footer_text {
	margin-block: 16px;
	letter-spacing: 1.2px;
}

.footer_text_adress {
	margin: 16px 0;
	letter-spacing: 0.6px;
}

ul.footer_about li,
ul.footer_menu_items li {
	margin: 8px 0;
}

span.main_description_highlight,
span.main_description_dash {
	background: linear-gradient(90deg, #ffbf2e, #fe5a1c);
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

a.footer_policy {
	text-decoration: underline;
}

/* Animations */
@keyframes topLinkHover {
	0% {
		color: var(--mainFont);
	}
	100% {
		color: var(--orange);
	}
}
@media (max-width: 1440px) {
	.wrapper {
		min-width: 500px;
	}
}

@media (max-width: 1330px) {
	.main {
		justify-content: space-evenly;
	}
	.footer {
		justify-content: space-evenly;
	}
	.nav {
		justify-content: space-evenly;
	}
	.wrapper .header .header_description {
		display: none !important;
	}
	.header_contacts_tel {
		display: none;
	}
	.footer_menu {
		margin-left: 50px;
	}
}

@media (max-width: 1030px) {
	.social {
		display: none;
	}
	.main {
		flex-direction: column;
		align-items: center;
	}
	.main_description {
		text-align: left;
		align-content: flex-start;
	}
	.main_description_dash {
		display: inline-block;
		margin-right: 15px;
	}
	.main_description_feature_item p {
		display: none;
	}
}

@media (max-width: 880px) {
	.header .nav .header_menu .hidden {
		display: none;
	}
	.nav {
		margin-left: 0;
	}
	.footer_about_wrapper {
		max-width: 200px;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.footer_menu {
		margin-left: 0;
	}
	.footer_menu_second {
		margin-left: 0;
	}
	.wrapper {
		padding: 20px 30px 0;
	}
}

@media (max-width: 490px) {
	.footer {
		margin-top: 20px;
		flex-direction: column;
	}
	.footer_contacts {
		text-align: start;
		margin-top: 30px;
	}
	.footer_extra {
		text-align: start;
		margin-top: 50px;
	}
	.footer_menu_wrapper {
		display: flex;
		margin-top: 30px;
	}
	.footer_about_wrapper {
		max-width: 350px;
	}
	button {
		display: none;
	}
}
